<p style="color: green"><%= notice %></p>

<%= render @voice %>

<div>
  <%= link_to "Edit this voice", edit_voice_path(@voice) %> |
  <%= link_to "Back to voices", voices_path %>

  <%= button_to "Destroy this voice", @voice, method: :delete %>
</div>
