<div id="<%= dom_id musical_fragment %>">
  <p>
    <strong>Title:</strong>
    <%= musical_fragment.title %>
  </p>

  <p>
    <strong>Source title:</strong>
    <%= musical_fragment.source_title_id %>
  </p>

  <p>
    <strong>Start measure:</strong>
    <%= musical_fragment.start_measure %>
  </p>

  <p>
    <strong>End measure:</strong>
    <%= musical_fragment.end_measure %>
  </p>

  <p>
    <strong>Lilypond:</strong>
    <%= musical_fragment.lilypond_id %>
  </p>

  <p>
    <strong>Nuance:</strong>
    <%= musical_fragment.nuance_id %>
  </p>

  <p>
    <strong>Caractere:</strong>
    <%= musical_fragment.caractere_id %>
  </p>

  <p>
    <strong>Bow portion:</strong>
    <%= musical_fragment.bow_portion_id %>
  </p>

  <p>
    <strong>Bow location:</strong>
    <%= musical_fragment.bow_location_id %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= musical_fragment.position_id %>
  </p>

  <p>
    <strong>Focus:</strong>
    <%= musical_fragment.focus_id %>
  </p>

</div>
