<div id="<%= dom_id source_title %>">
  <p>
    <strong>Musical instrument:</strong>
    <%= source_title.musical_instrument_id %>
  </p>

  <p>
    <strong>Composer:</strong>
    <%= source_title.composer %>
  </p>

  <p>
    <strong>Id opus:</strong>
    <%= source_title.id_opus %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= source_title.number %>
  </p>

</div>
