<p style="color: green"><%= notice %></p>

<%= render @source_title %>

<div>
  <%= link_to "Edit this source title", edit_source_title_path(@source_title) %> |
  <%= link_to "Back to source titles", source_titles_path %>

  <%= button_to "Destroy this source title", @source_title, method: :delete %>
</div>
